
body{
    text-align: center;
    margin: 0;
    background-image: url('cal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   color: beige;
}
#header-container{
    width: 100%;
    
    
    
}

.cal h2{
    font-size: 2.5rem;
}

.container{
    border: 3px solid rgb(77, 104, 119);
    border-radius: 50%;
    width:600px;
    height: 300px;
    margin: 0 50px 50px 320px;
    background-color: rgb(187, 177, 164);
    opacity: 0.5;
    color: rgb(2, 51, 53);


}

.container form{
    padding: 5rem;
    
    
}
.container form input{
    
    margin: 6px;
    width: 150px;
    height: 50px;
    border: 1px solid rgb(77, 104, 119) ;
    border-radius: 100px;
    
    position: relative;
    font-size: 19px;
     
}
.home input{
    cursor: pointer;
}


.home input:hover{
    background-color: rgb(1, 12, 15);
    border: 2px solid white;
    border-style: outset;
    color: beige;
    
}
.container form i{
    font-size: 2.2rem;
    position: absolute;
    z-index: 1000;
    padding: 0.7rem;
    
}

.addi{
    margin: 0px 60px 0 60px;
}
.addd{
    display:block;
    
    justify-content: space-between;
}
.plus{
    font-size: 2rem;
}
.pluss{
   padding: 2rem ;
}

.pluss p{
    border: 5px solid  cadetblue ;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    margin: 40px 0 100px 150px;
}
.addi .btn{
    cursor: pointer;
}

.header{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header img{
    width: 150px;
    margin: 20px;
}

.header .lien{
    font-size: 2rem;
    margin: 60px 0 0 400px;
}
#foot{
    text-align: center;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 40%;
    width: 40%;
    margin: 100px 0px 0px 320px;
    padding: 0;
    color: black;
}
